.introducao-bg {
  background-color: var(--cor-0);
}

.introducao-container {
  margin: 0 auto;
  padding: 0px 0px 20px 20px;
}

.introducao-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
}

.introducao-textos{
    padding-left: 100px;
    padding-bottom: 100px;
}

.introducao-conteudo h2 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 100px;
}

.introducao-conteudo h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.introducao-conteudo p {
  font-size: 1rem;
  margin-bottom: 16px;
}
