.pontuacao-seo-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 20px 120px 20px;
}

.pontuacao-seo-conteudo {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.pontuacao-seo-conteudo form {
  background-image: url(../../images/subscribe-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 280px;
  padding: 60px 0px;
  text-align: center;
}

form h1 {
  margin-bottom: 20px;
}

form .button-padrao1{
  display: none;
}

.pontuacao-seo-conteudo::before {
  content: "";
  display: inline;
  background: url(../../images/subscribe-dec.png);
  background-repeat: no-repeat;
  width: 20%;
  height: 50%;
  position: absolute;
  right: -84px;
  top: -15px;
  z-index: 0;
}

.box-input {
  display: flex;
  justify-content: space-evenly;
  padding: 22px;
  border-radius: 46px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  background-color: var(--cor-0);
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  border: none;
  outline: none;
}

.box-input input:first-child {
  border-right: 1px solid #dfdede;
  width: 40%;
}

input:nth-child(2) {
  margin-right: 200px;
  width: 20%;
}

input::placeholder {
  color: #8f8d8d;
}

@media (max-width: 1445px) {
  .pontuacao-seo-conteudo form {
    width: 80vw;
    height: 280px;
    padding: 60px 0px;
  }

  .pontuacao-seo-conteudo::before {
    right: -26px;
    top: -15px;
  }
}

@media (max-width: 1376px) {
  .pontuacao-seo-conteudo form {
    width: 80vw;
    height: 280px;
    padding: 40px 0px;
  }

  .pontuacao-seo-conteudo::before {
    right: 2px;
    top: -18px;
  }

  .box-input {
    width: 90%;
    padding: 10px;
  }
}

@media (max-width: 1190px) {
  .pontuacao-seo-conteudo form {
    width: 80vw;
    height: 280px;
    padding: 30px 0px;
  }

  .pontuacao-seo-conteudo::before {
    right: 34px;
    top: -15px;
  }

  .box-input {
    width: 95%;
    padding: 5px;
  }
}

@media (max-width: 1120px) {
  .pontuacao-seo-conteudo form {
    background-size: cover;
    border-radius: 46px;
    width: 80vw;
    height: 42vh;
    padding: 60px 20px;
  }

  .pontuacao-seo-conteudo::before {
    display: none;
  }

  .box-input {
    padding: 25px 5px;
    margin-bottom: 15px;
  }

  .box-input button {
    display: none;
  }

  form .button-padrao1{
  display: block;
  margin-top: 20px;
  width: 95%;
  margin: 0 auto;
}

  form .button-padrao1:hover{
  background-color: var(--cor-2);
}

  input:nth-child(2) {
    margin-right: 20px;
    width: 30%;
  }
}

@media (max-width:585px){
    .pontuacao-seo-conteudo form {
    height: 63vh;
  }
}

@media (max-width: 585px) {
  .pontuacao-seo-conteudo form {  
    height: 53vh;
  }
}

@media (max-width: 435px) {
  .pontuacao-seo-conteudo form {  
    height: 58Svh;
  }
}