.portfolio-container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 80px 20px 80px 20px;
}

.portfolio-conteudo{
  position: relative;
}

.portfolio-conteudo::before{
    content: "";
    display: inline-block;
    background: url(../../images/portfolio-left-dec.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: 0;
}

.portfolio-conteudo h1 {
  text-align: center;
}

.portfolio-conteudo h2 {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ff6a5f4f;
  margin-bottom: 80px;
}

.portfolio-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.portfolio-lista img {
  border-radius: 24px;
}

@media (max-width: 1110px) {
  .portfolio-lista {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-lista img {
    margin: 0 auto;
  }
}

@media (max-width:675px){
    .portfolio-lista {
    grid-template-columns: 1fr;
  }
}