* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 100px 20px 100px;
}

.button-padrao1 {
  font-size: 1rem;
  background-color: var(--cor-2);
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  z-index: 555;
}

.button-padrao1:hover {
  background-color: var(--cor-3);
}

.button-padrao2 {
  font-size: 1rem;
  background-color: var(--cor-3);
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  position: relative;
  z-index: 555;
}

.button-padrao2:hover {
  background-color: var(--cor-2);
}

.ativo-teste{
  height: 150px;
  border-radius: 26px;
  background: linear-gradient(
    105deg,
    rgba(255, 104, 95, 1) 0%,
    rgba(255, 144, 104, 1) 100%
  );
}

.ativo-teste .span-projeto {
  margin: 44px 35px;
  background-color: initial;
  transition: 0.5s;
}

.ativo-teste img {
  display: none;
}
