.header-bg {
  background-color: #fafafa;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
}

.header-conteudo {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  align-items: center;
  justify-items: center;
}

.header-conteudo img {
  max-width: initial;
}

.header-menu {
  display: flex;
}

.header-menu ul {
  display: flex;
  gap: 20px;
  font-size: 0.85rem;
  font-weight: 500;
}


.header-menu ul a{
  font-size: 0.9rem;
}


.header-menu ul a:hover {
  color: var(--cor-2);
}


@media (max-width:980px){
  .header-menu ul {
    display: none;
}

 .header-conteudo  .button-padrao1,
 .header-conteudo .button-header-contato{
  display: none;
 }

 .header-conteudo {
  justify-content: space-around;
}
}