[data-menu="button"] {
  display: none;
}

@media (max-width: 835px) {
  .js [data-menu="button"] {
    display: flex;
    background: linear-gradient(135deg, #FF695F 20%, #d1382d, #e66057, #FF695F);
    border: none;
    padding: 18px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 16px;
    background-color: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform 0.3s;
  }

  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background: var(--cor-0);
    width: 100vw;
    z-index: 200;
    right: 0;
    top: 115px;
    padding: 0px 0px 0px;
    text-align: center;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .js [data-menu="list"] li{
    padding: 14px;
    border-bottom: 1px solid #d7d4d4;

  }

  @keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(60px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .js [data-menu="list"].active {
    display: block;
    animation: show-right 0.6s forwards;
  }

  .js #lista-redes.active {
    display: flex;
    justify-content: center;
    animation: show-right 0.6s forwards;
  }
}
