.tooltip{
    position: absolute;
    z-index: 500;
    background-image: url(../../../images/hover-bg.png);
    background-repeat: no-repeat;
    padding: 50px 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    width: 200px;
    height: 150px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
    top: 0px;
    left: 0px;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 500;
}

